{%load bootstrap4%}
 {% block styles %}
  {% bootstrap_css %}
  {% endblock %}

{% include 'navbar.html' %}

<h1 class="text-center">{{hood.name}}</h1>
<div class="container">
<div class="row">
    <div class="col-md-8" id="board">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Messages</h3>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">This will</li>
                    <li class="list-group-item">Display a list</li>
                    <li class="list-group-item">of the messages</li>
                    <li class="list-group-item">that the users have</li>
                    <li class="list-group-item">posted about their neighbourhood</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="biz">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Businesses</h3>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for bi in biz %}
                    <li class="list-group-item">{{bi.name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>