{% extends 'base.html'%}
{% load bootstrap4 %}
{%block content%}
<div class="container" id="bod">

  {{user.username}}</br>
  {{profile.bio}}
    <a href="{% url 'new_profile' %}"><button type="button" class="btn btn-primary">Edit profile</button></a>

  <div class="row">
    {% for message in messages %}
    <!--Displaying the pictures-->
    <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="card-title">{{message.title}}</div>
        <div class="card-body">{{message.post}}</div>
    </div>
    
    {% empty %}
    <div class="row">
      <h2 class="text-center">You have not posted any messages</h2>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}